@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./fonts.scss";

.user__card{
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: start;

    width: 100%;
    padding: 16px 20px;
    border-radius: 6px;
    border: 1px solid #5a5a5a;
    background: rgb(0, 177, 236);
    list-style: none;
}

.unvisible{
    display: none;
}